body {
    color: lightblue;
    overflow: hidden;
    position: absolute;
    position: relative;
    outline: 1px solid pink;
    flex-direction: row-reverse;
    transform: translateY(-50%) translateX(-50%) rotateX(90deg);
    cursor: inherit;
}